@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

h1 {
  font-size: x-large;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

input[type=text] {
  color: black;
}

input[type=button] {
  cursor: pointer;
}

input[type=submit] {
  cursor: pointer;
}

select {
  cursor: pointer;
}

textarea {
  color: black;
}

select {
  background-color: black;
  color: white;
}

option {
  background-color: black;
  color: white;
}

/* text color classes for /race and /learn */
.empty {
  color: auto;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
  background-color: darkred;
  text-decoration-line: underline;
  text-decoration-color: red;
}

.checkmark {
  display:inline-block;
  width: 18px;
  height:18px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.checkmark:before {
  content: "";
  position: absolute;
  width:3px;
  height:9px;
  background-color:rgb(22 163 74);
  left:11px;
  top:6px;
}

.checkmark:after {
  content:"";
  position: absolute;
  width:4px;
  height:3px;
  background-color:rgb(22 163 74);
  left:8px;
  top:12px;
}